services:
  redis:
    image: redis:7 
    ports:
      - "6379:6379"
  redisinsight:
    image: redislabs/redisinsight:latest
    container_name: redisinsight
    restart: always
    ports:
      - "5540:5540"
    volumes:
      - redisinsight-data:/data
    depends_on:
      - redis
  db:
    image: seungyeonha3/s624:pgsql1.1.1
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: stat1234 
      POSTGRES_DB: sqlda
    ports:
      - "5432:5432"
  pgadmin:
    container_name: pgadmin4 
    image: dpage/pgadmin4:9.4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    volumes:
      - ./db_image/servers.json:/pgadmin4/servers.json
      - ./sql_scripts:/home/sql_scripts
    ports:
      - "5050:80"
    depends_on:
      - db
  app3:
    build: .
    depends_on:
      - db
      - redis
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: stat1234 
      POSTGRES_DB: sqlda
      POSTGRES_HOST: db
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "5000:5000"
    restart: unless-stopped
volumes:
  redisinsight-data: 
  sql_scripts:
